.container {
  margin: 15px;
  display: inline-block;
}

h2 {
  font-size: 3.55em;
  box-shadow: 2px 2px 8px 0 #999;
  padding: 7px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #e6e6e6;
  z-index: 9;
  text-align: center;
  color: black;
}

.info {
  margin-top: 5px;
  color: black;
  text-align: left;
  margin: 15px;
  margin-top: 8px;
  font-size: 1.2em;
  // background-color: #FFEEF2;
}
