.container {
  margin: 15px;
  display: inline-block;
}

h2 {
  font-size: 3.55em;
  box-shadow: 2px 2px 8px 0 #999;
  padding: 7px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #e6e6e6;
  z-index: 9;
  text-align: center;
  color: black;
}

.info {
  margin-top: 5px;
  color: black;
  text-align: left;
  margin: 15px;
  margin-top: 8px;
  font-size: 1.2em;
  // background-color: #FFEEF2;
}

.Matt {
  width: 128px;
  height: 170.6px;
  top: 0;
  left: 0;
  background-image: url("../images/Matt_Chibi.jpg");
  background-size: cover;
  -webkit-animation: 9s colorChange linear infinite;
}

.Molly {
  width: 128px;
  height: 170.6px;
  top: 0;
  left: 0;
  background-image: url("../images/Molly_Chibi.jpg");
  background-size: cover;
  -webkit-animation: 8s colorChange linear infinite;
}

.Nick {
  width: 128px;
  height: 170.6px;
  top: 0;
  left: 0;
  background-image: url("../images/Nick_Chibi.jpg");
  background-size: cover;
  -webkit-animation: 7s colorChange linear infinite;
}

.Sonam {
  width: 128px;
  height: 170.6px;
  top: 0;
  left: 0;
  background-image: url("../images/sonam_Chibi.jpg");
  background-size: cover;
  -webkit-animation: 10s colorChange linear infinite;
}