.aboutcontainer {
  a {
    color: rgb(51, 51, 51);
    text-shadow: 1px 1px 1px rgb(51, 51, 51);
    &:hover {
      color: #fff;
    }
  }
  h2 {
    font-size: 3.55em;
    z-index: 9;
    text-align: center;
    color: black;
  }

  h1, h2 {
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    line-height: 30px;
  }
}

.aboutBackground{
  text-align: center;
  overflow-y: auto;
  position: relative;
  font-family: Ghostlight;
}

.aboutBackground:before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../images/blurrycolorballs.png");
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: 5s blurIn ease 1;
  -webkit-animation-fill-mode: forwards;
}

.aboutcontainer{
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  border: 1px solid #000;
  border-radius: 15px;
  margin:0 auto;
  // margin-top: 20px;
}

.container {
  // margin: 15px;
  display: inline-block;
}

.hermanoAlto{
  font-family: HermanoAlto;
}

.info {
  margin-top: 5px;
  margin: 15px;
  margin-top: 8px;
  font-size: 1.2em;
  // background-color: #FFEEF2;
}

.Matt {
  width: 128px;
  height: 170.6px;
  margin: 0 auto;
  border: 5px solid #333;
  background-image: url("../images/Matt_Chibi.jpg");
  background-size: cover;
 // -webkit-animation: 9s colorChange linear infinite;
}

.Molly {
  width: 128px;
  height: 170.6px;
  margin: 0 auto;
  border: 5px solid #333;
  background-image: url("../images/Molly_Chibi.jpg");
  background-size: cover;
  //-webkit-animation: 8s colorChange linear infinite;
}

.Nick {
  width: 128px;
  height: 170.6px;
  margin: 0 auto;
  border: 5px solid #333;
  background-image: url("../images/Nick_Chibi.jpg");
  background-size: cover;
  //-webkit-animation: 7s colorChange linear infinite;
}

.Sonam {
  width: 128px;
  height: 170.6px;
  margin: 0 auto;
  border: 5px solid #333;
  background-image: url("../images/Sonam_Chibi.jpg");
  background-size: cover;
  //-webkit-animation: 10s colorChange linear infinite;
}
