@import 'emotions';

.smallFace {
  position: absolute;
  font-size: 4em;
  border: 2px solid white;
  height: .85em;
  line-height: .68em!important;
  border-radius: 50%;
}

.allFaces {
  position: relative;
  width: 80px;
  height: 98px;
  color: #eee;
  #angerActive {
    color: $anger;
  }
  #joyActive {
    color: $joy
  }
  #sadnessActive {
    color: $sadness
  }
  &:hover {
    animation-name: stretch;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
}

.allEmotions {
  position: relative;
  vertical-align: top;
  text-align: center;
  width: 76px;
  height: 168px;
}
