@import 'fonts';
@import 'shared-styles';

.articlesDisplay {
  background-color: $div-bg-color;
  margin: 20px auto;
  // border-radius: 3%;
}

.article {
  margin: 15px;
  display: inline-block;
}

.articleTitle {
  font-family: HermanoAlto;
  font-size: 1.55em;
  box-shadow: 2px 2px 8px 0 #999;
  padding: 7px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #e6e6e6;
  z-index: 9;
  text-align: left;
  color: black;
  text-shadow: $text-shadow-lighter;
}

.articleSnippet {
  margin-top: 5px;
  color: black;
  text-align: left;
  margin: 15px;
  margin-top: 8px;
  font-size: 1.2em;
}

.articleEmotionRow{
  font-size: 1.6em;
}

.percentages {
  padding: 10px;
  //font-size: 4em !important;
}

.percentages>.anger {
  color: red;
}

.percentages>.disgust {
  color: green;
}

.percentages>.fear {
  color: black;
}

.percentages>.joy {
  color: pink;
}

.percentages>.sadness {
  color: blue;
}

.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  padding: 5px;
  width: 380px;
  height: 250px;
  display: inline-block;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  box-shadow: 3px 3px 7px 3px #999;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  padding-top: 23px;
  background-color:  #f2f2f2;
  transform: rotateY(180deg);
  .anger, .joy, .sadness, .disgust, .fear {
    text-shadow: $text-shadow-lighter;
  }
}
