@import 'fonts';
@import 'emotions';
@import 'shared-styles';

.anger {
  color: $anger;
}

.disgust {
  color: $disgust;
}

.fear {
  color: $fear;
}

.joy {
  color: $joy;
}

.sadness {
  color: $sadness;
}

.loading{
  margin-top: 18%;
}

.searchTermDisplay {
  font-family: Ghostlight;
  display: inline-block;
  font-size: 2.5em;
  color: #fff;
  text-shadow: $text-shadow;
}

.searchTerm {
  font-family: inherit;
  display: inline-block;
  font-size: 1.0em;
}

.background-image {
  overflow-y: auto;
  position: relative;
}

.background-image:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../images/blurrycolorballs.png");
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
