.anger {
  color: red;
}

.disgust {
  color: green;
}

.fear {
  color: black;
}

.joy {
  color: pink;
}

.sadness {
  color: blue;
}


.searchTermDisplay {
  display: inline-block; 
  font-size: 2.5em;
}

.searchTerm {
  display: inline-block; 
  font-size: 2.5em;
}

