@import 'fonts';
@import 'emotions';
@import 'shared-styles';

.anger {
  color: $anger;
}

.disgust {
  color: $disgust;
}

.fear {
  color: $fear;
}

.joy {
  color: $joy;
}

.sadness {
  color: $sadness;
}

.loading{
  margin-top: 18%;
}

.searchTermDisplay {
  font-family: Ghostlight;
  display: inline-block;
  font-size: 2.5em;
  color: #fff;
  text-shadow: $text-shadow;
}

.searchTerm {
  font-family: inherit;
  display: inline-block;
  font-size: 1.0em;
}
