.emotionLabel {
  color: #333;
  font-size: 1.3em;
  text-decoration: none;
}

.faceAlign {
  display: inline-block;
  margin-left: 65px;
}

.faceAlign:first-child {
  margin-left: 0;
}

.face {
  font-size: 7em;
  color:#333;
}

#anger:hover{
  color: red;
}

#disgust:hover{
  color: green;
}

#fear:hover{
  color: #6600cc;
}

#joy:hover{
  color: #ff00ff;
}

#sadness:hover{
  color: #0099ff;
}
