.faceBoard {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  display: inline-block;
  text-align: center;
  padding-top: 70px;
}

.allEmotions {
  position: relative;
  bottom: 20px;
}