.faceBoard {
  position: relative;
  display: inline-block;
  background-color: none;
  width: 100%;
  text-align: center;
  padding-top: 2%;
}

.allEmotions {
  position: absolute;
  top:0;
  right: -50px;
}

