.emotionLabel {
  font-size: 1.3em;
  text-decoration: none;
}

.faceAlign{
  padding-left: 65px;
}
.face {
  font-size: 7em;
  color: #333;
  //background-color: purple;
}

#anger:hover{
  color: red;
  animation-name: stretch;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

#disgust:hover{
  color: green;
  animation-name: stretch;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

#fear:hover{
  color: #6600cc;
  animation-name: stretch;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

#joy:hover{
  color: #ff00ff;
  animation-name: stretch;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

#sadness:hover{
  color: #0099ff;
  animation-name: stretch;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}


@keyframes stretch {
  50% {
    background-color: none;
  }
  100% {
    transform: scale(1.25);
  }
}