.emotionLabel {
  font-size: 1.3em;
  text-decoration: none;
}

.faceAlign{
  padding-left: 65px;
}
.face {
  font-size: 7em;
  color:#333;
}

#anger:hover{
  color: red;
}

#disgust:hover{
  color: green;
}

#fear:hover{
  color: #6600cc;
}

#joy:hover{
  color: #ff00ff;
}

#sadness:hover{
  color: #0099ff;
}
