.faceBoard {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  display: inline-block;
  text-align: center;
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
}

.allEmotions {
  position: relative;
  bottom: -1px;
}
