@import 'fonts';

.header {
  float: right;
  display: block;
  position: relative;
  top: -55px;
  input, a {
    margin-bottom: 10px;
  }
  a.btn {
    background-color: #fff;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

label {
  margin-right: 10px;
  font-family: HermanoAlto;
  font-size: 1.2em;
}
