.circle {
  position: relative;
  height: 45px;
  width: 45px;
  bottom: 35px;
  left: 40px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #555;
  // border: 2px solid #595758;
}

.percentage {
  color: #8E8DBE;
  font-size: 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
