@import 'fonts';

//  adjust this if font changes
$splash_text_offset: 230px;

.splashTagline {
  margin-left: 1%;
  font-size: 2em;
}

.splashButton {
  border-radius: 20%;
  margin-left: 5px;
  border: 2px solid rgba(0,0,0,0.5);
  background-color: transparent;
}

.splashBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/blurrycolorballs.png");
  background-size: cover;
  -webkit-animation: 10s colorChange linear infinite;
}

.splashContent {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 85%;
  background-color: rgba(255, 255, 255, .4);
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  border: solid 2px #222;
  border-right: none;
  border-radius: 15px 0 0 15px;
}

.splashSearchArea {
  // overflow: hidden;  //  to contain floating button
  margin-bottom: 10px;
  text-align: right;
  margin-right: 158px;
}

.splashSearchArea .form-group:nth-child(1){
  white-space: nowrap;
  width: 50%;
}

.splashSearchArea input {
  width: 80%!important;
  min-width: 230px;
  display: inline-block;
  border: 1px solid black;
}

.splashSearchArea .btn {
  margin-left: 10px;
  display: inline-block;
  float: right;
}

.splashTitle {
  font-family: HermanoAlto;
  right: 230px;
  white-space: nowrap;
  font-size: 10em;
  background: -webkit-linear-gradient(#888, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.4em;
}


@media (max-width: 830px) {
  .splashTitle {
    font-size: 6em;
    right: $splash_text_offset - 50px;
  }
}

@media (max-width: 768px) {
  .splashSearchArea {
    text-align: center;
    margin-right: 0;
  }
  .splashSearchArea .btn {
    float: none;
  }
  .splashSearchArea .form-group:nth-child(1){
    width: 100%;
  }
}

@media (max-width: 625px) {
  .splashTitle {
    font-size: 3.8em;
    right: $splash_text_offset - 110px;
  }
}

@-webkit-keyframes colorChange {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
