@font-face {
  font-family: Ghostlight;
  src: url("./fonts/Ghostlight-Regular.ttf");
}

@font-face {
  font-family: EmojiSymbols;
  src: url("./fonts/EmojiSymbols-Regular.woff");
}

.emj{
    font-family: EmojiSymbols;
    line-height: 1;
}

body {
  font-family: Ghostlight;
}
