//change for heroku
@font-face {
  font-family: Ghostlight;
  src: url("./fonts/Ghostlight-Regular.ttf");
}

@font-face {
  font-family: EmojiSymbols;
  src: url("./fonts/EmojiSymbols-Regular.woff");
}

.emj {
  font-family: EmojiSymbols;
  line-height: 1;
}

body {
  padding-bottom: 40px;
  font-family: Ghostlight;
}

nav.navbar.navbar-default {
  background-color: transparent;
  border: 0;
  a {
    color: rgb(51, 51, 51);
  }
  a:hover {
    color: #fff;
  }
}
